.banner-pic {
	width:100%;
	height: 320px;
	background: url(../images/05_academy_store_banner.png) no-repeat center;
}
.main{
	width: 100%;
	margin-top: 80px;


}
.main-content{
	margin: 0 auto;
	height: 750px;
	width:960px;
	padding: 3px;
}
.major1-title{
	margin-top: 30px;
	background-color: #FD8B25;
}
.major1-sub-title1{
	margin:15px 50px;
}
.major1-sub-title2{
	margin-top: 8px;
    margin-right: 30px;
    float: right;
}
.major1-text-left{
	display: inline-block;
	width: 60%;
	/*float: left;*/
}
.major1-text-right {
    padding-top: 37px;
    display: inline-block;
    width: 27%;
    float: right;
    padding-right: 30px;
}
.major1-text-left strong {
    display: inline-block;
    margin-top: 29px;
    margin-left: 40px;
    background-color: #FD8B25;
    color: white;
}
.major1-text-left p{
	margin-top: 7px;
	margin-left: 15px;
	text-indent: 2em;

}
.academy1-title{
	margin-bottom: 60px;
	border: 3px solid #F5F5F5;
}
.academy1-title a{
	color: #000;
}
.academy1-title p {
    width: 90%;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}
.academy1-title strong{
	color: #FD8B25;
	font-weight: bold;
}
.academy1-text{
	border: 3px solid #F5F5F5;
}

.institute-title-right{
	margin-top: 50px;
	margin-right: 5px;
	width: 30%;
	float: right;
	text-align: right;
}
.institute-title-left{
	display: inline-block;
	/*position: relative;*/
}
.academy1-text{
	margin: 0 auto;
}
.academy1-title a:hover{
	color: #FD8B25;
	font-weight: bold;
}
.institute-title{
	width: 95%;
	height: 115px;
    border-bottom: 3px solid #F5F5F5;
    margin: 0 auto;
}
.institute-title-left img{
	margin-left: 30px;
    margin-top: -40px;
	display: inline-block;
	float: left;
}
.institute-title-right h2{
	padding-bottom: 10px;
}
.institute-title-right h3{
	text-align: right;
	color: #FD8B25;
}
.institute-text{
	padding: 20px;
	word-spacing: 3px;
}
.institute-text strong{
	color: #fff;
	background-color: #FD8B25;
}
.institute-text p{
	text-indent: 2em;
    word-spacing: 14px;
    line-height: 37px;
 }
 .institute-text-substitle{
 	background-color: #FD8B25;
 	width: 100px;
 }
 .institute-text-substitle strong:before {
    content: ' ';
    background: #fff;
    padding: 5px;
    border-radius: 56em;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.sign-up{
	width: 120px;
	margin: 0 auto;
}