*:focus {
	outline: none;
}

.clearfix {
	zoom: 1;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
.imgLeft{
	width: 675px;
}
.imgRight{
	width:525px ;
}
.imgLeft a{
	float: left;
}
.imgRight a{
	float: left;
}
.img1{
	width: 355px;
}
.img2{
	width: 160px;
}
.imgLeft a.img3{
	float: right;
}
.imgRight a.img4{
	    float: right;
    width: 364px;
    margin-top: -158px;
}

.imgBottom{
	width: 100%;
}
.img5{
	width: 417px;
	margin-left: 100px;
}
.img5 img{
	width: 100%;
}
.img6{
	width: 320px;
}
.img6 img{
	width: 100%;
}
.img7{
	width: 100%;
}
.img7 img{
	width: 484px;
    margin-left: 356px;
}

.storeList{
	width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
}
.ListNav{	
	width: 100%;
	padding: 15px 0;
	background: #fff;
	-webkit-box-shadow:0 0 10px 5px #f6f6f6;  
  -moz-box-shadow:0 0 10px 5px #f6f6f6;  
  box-shadow:0 0 10px 5px #f6f6f6;  
  margin-bottom: 75px;
}
.ListNav li{
	float: left;
}

.ListNav li a{
	float: left;
	padding: 0 10px;
	margin: 0 0 0 30px;
	font-size: 14px;
	color: #646464;
}
.ListNav li a.active{
	color: #fff;
	background:#ff8b00;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	overflow: hidden;
}

.List_L{
	margin-top: 50px;
	width: 100%;
	background: #fff;
 }
.List_L>li{
	float: left;
	width:500px ;
	height: 240px;
	padding: 40px 40px;
	-webkit-box-shadow:0 0 10px 5px #f6f6f6;  
  -moz-box-shadow:0 0 10px 5px #f6f6f6;  
  box-shadow:0 0 10px 5px #f6f6f6;
  margin-bottom: 75px;
}
.List_L>li:nth-child(2n){
	float: right;
}
.List_L>li a.detile{
	float: right;
	width: 120px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	background: #ff8b00;
	margin-top: -35px;
	cursor: pointer;
}


.ListTitle{
	width: 100%;
	float: left;
}
.ListTitle span{
	float: left;
	width: 120px;
	border: 1px solid #f0f0f0;
	margin: -80px 0 0 0;
}
.ListTitle h2{
	float: right;
	width: 300px;
	font-size: 14px;
}
.ListTitle h2 strong{
	display: block;
	width: 100%;
	text-align: right;
	font-size: 18px;
	color: #323232;
	font-weight: normal;
	
}
.ListTitle h2 i{
	display: block;
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: #ff8b00;
	font-style: normal;
	
}

.chireList{
	width: 100%;
	float: left;
	padding-top: 35px;
}
.chireList li{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.chireList li span{
	float: left;
	width: 18px;
	margin-right: 10px;
}
.chireList li p{
	float: left;
	font-size: 12px;
	color: #646464;
	line-height: 18px;

}

.num{
	width: 100%;
	text-align: center;
}
.list_num{
	width: auto;
	display: inline-block;
}
.list_num span{
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	margin-left: 20px;
}
.list_num a,.list_num input{
	float: left;
	padding: 0 15px;
	height: 38px;
	color: #ff8b00;
	border: 1px solid #ff8b00;
	line-height: 38px;
	text-align: center;
	margin-left: 20px;
	cursor: pointer;
}
.list_num input{
	padding: 0;
	width: 38px;
}
.list_num a.active{
	background: #ff8b00;
	color: #fff;
}
